* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url(../img/background.jpg);
	min-width: 960px;
}


.clear {
	clear: both;
}

.write-a-comment {
	position: fixed;
	background-color: #4F4E58;
	width: 400px;
	height: 200px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -100px;
	display: none;
}

.show {
	display: block;
}

.write-a-comment textarea {
	resize: none;
	border: none;
	width: 400px;
	background-color: #111;
	color: #5d5d5d;
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

.write-a-comment input {
	width: 200px;
	height: 40px;
	position: relative;
	bottom: 5px;
	border: none;
	float: left;
	cursor: pointer;
}

.write-a-comment input:hover {
	background-color: #000;
	color: #5d5d5d;;
}

#header {
	border-top: 10px solid #242424;
	border-bottom: 10px solid #131313;
	background-color: #242424;
	height: 135px;
}

#left, #right, #center {
	background: #2d2d2d;
	background: -moz-linear-gradient(top,  #2d2d2d 0%, #181818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(100%,#181818));
	background: -webkit-linear-gradient(top,  #2d2d2d 0%,#181818 100%);
	background: -o-linear-gradient(top,  #2d2d2d 0%,#181818 100%);
	background: -ms-linear-gradient(top,  #2d2d2d 0%,#181818 100%);
	background: linear-gradient(to bottom,  #2d2d2d 0%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#181818',GradientType=0 );
}

#left {
	border-top-right-radius: 10px;
	width: 65%;
	float: left;
}

.header-menu {
	float: right;
	margin-top: 5px;
}

.header-menu li {
	list-style-type: none;
	display: inline;
}

.header-menu li a{
	text-decoration: none;
	color: #616161;
	font-family: Actor;
	padding: 0 15px;
	border-right: 1px solid #363636;
	font-size: 11px;
}

.header-menu li:last-child a {
	border: none;
}

#logo {
	margin: 40px 0 40px 55px;
	line-height: 20px;
}

#logo span:first-child {
	color: #FFF;
	font-family: Actor;
	font-size: 58px;
}

#logo span:last-child {
	color: #434343;
	font-family: Actor;
	font-size: 12px;
	text-transform: uppercase;
	word-spacing: 4px;
	letter-spacing: 2.5px;
}

#center {
	float: left;
	width: 30%;
	height: 135px;
}

#subscribe-search {
	background-color: #242424;
	border-radius: 0 0 10px 10px;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	color: #6e6e6e;
	width: 100%;
	display: inline-table;
	text-align: center;
}

#rss {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(../img/sprite.png);
	background-position: -6px -1302px;
	cursor: pointer;
	margin:10px 15px 0 15px;
}

#subscribe-search p {
	display: inline-block;
	margin: 0 auto;

}

#subscribe-search ul {
	display: inline-block;
	padding-left: 10px;
}

#subscribe-search ul li {
	list-style-type: none;
	display: inline;
	border-right: 1px solid #4b4a4a;
	padding: 0 5px;
}

#subscribe-search ul li:last-child {
	border: none;
}

#subscribe-search ul li a{
	text-decoration: none;
	font-size: 11px;
	color: #a9a9a9;
}

#header-menu li a:hover, #subscribe-search ul li a:hover {
	color: #FFF;
}

#subscribe-search input {
	margin: 25px auto;
	width: 70%;
	padding: 12px;
	display: block;
	background-color: #111;
	border: none;
	border-radius: 10px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 96% 44%;
	color: #FFF;
	box-shadow: 0 2px 0 -1px #2a2a2a;
}

#right {
	float: right;
	width: 5%;
	height: 135px;
	border-top-left-radius: 10px;
}

/* =======HEADER END======= */

#sitebar {
	background: #333333;
	background: -moz-linear-gradient(top,  #333333 1%, #272727 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#333333), color-stop(100%,#272727));
	background: -webkit-linear-gradient(top,  #333333 1%,#272727 100%);
	background: -o-linear-gradient(top,  #333333 1%,#272727 100%);
	background: -ms-linear-gradient(top,  #333333 1%,#272727 100%);
	background: linear-gradient(to bottom,  #333333 1%,#272727 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#272727',GradientType=0 );
	border-bottom: 1px solid #161616;
	height: 43px;
	box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
}

#sitebar ul li {
	display: table-cell;
	width: auto;
	height: 43px;
	text-align: center;
	vertical-align: bottom;
	border-top: 1px solid #474747;
}

#sitebar ul li a {
	color: #9c9c9c;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Actor;
	font-size: 14px;
	display: table-cell;
	width: 1000px;
	vertical-align: middle;
	height: 43px;
}

#sitebar ul li:hover {
	color: #FFF;
	background-color: #000;
	border-top: 1px solid #000;
}

/* =======END SITEBAR======= */

#content {
	/* width: 960px; */
	margin: 0 auto;
	padding: 20px 20px 30px 20px;
}

.content-choise-wrapper {
	float: left;
	display: table-cell;
	width: 25%;
	text-align: center;
}

.content-choise {
	height: 235px;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	display: inline-block;
	margin: 0 10px 20px 10px;
	padding: 10px;
}

.content-choise-top {
	width: 200px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.4);
	display: table-row;
}

.content-choise-top p {
	display: inline-block;
	font-size: 12px;
	font-family: Verdana, sans-serif;
	color: #5d5d5d;
	width: 150px;
	display: table-cell;
	padding-left: 5px;
	text-align: left;
	vertical-align: middle;
}

.content-choise-top p:last-child {
	font-weight: bold;
	width: 35px;
}

.message {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	width: 35px;
	height: 30px;
	padding-left: 5px; 
	background-image: url(../img/sprite.png);
	background-position: 392px -1449px;
	cursor: pointer;
}

.content-choise-center {
	background-color: rgba(0, 0, 0, 0.2);
	display: block;
	padding: 25px 30px;
	text-align: center;
}

.content-choise-center img {
	width: 110px;
	height: 110px;
}

.content-choise-bottom {
	padding: 10px 0;
}

.content-choise-bottom .star {
	width: 15px;
	height: 15px;
	display: inline-block;
}

.gold {
	background-image: url(../img/sprite.png);
	background-position: -84px -3px;
	cursor: pointer;
}

.grey {
	background-image: url(../img/sprite.png);
	background-position: -111px -5px;
	cursor: pointer;
}

.content-choise-bottom p {
	display: inline;
	float: right;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	color: #5d5d5d;
	padding: 2px 0 0 0;
	cursor: pointer;
}

#choice-page {
	clear: both;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 96%;
	margin: 0 auto;
}

#choice-page p{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #4a4a4a;
	display: inline-block;
	margin: 15px;
}

#choice-page p span {
	color: #757575;
}

#choice-page-number {
	display: inline-block;
	float: right;
	margin: 8px;
}

#choice-page-number a {
	display: inline-block;
	text-decoration: none;
	width: 30px;
	background-color: #1c1c1c;
	border: none;
	color: #393939;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 7px 0;
}

#choice-page-number a:hover, #choice-page-number a:visited {
	background-color: #0b0b0b;
	color: #949494;
}

/* =======END CONTENT======= */

#footer {
	background-color: #121212;
	box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.1);
	padding: 30px;
	border-bottom: 1px solid #000;
}

#footer #footer-wrapper>div {
	float: left;
	width: 25%;
}

#footer h2 {
	color: #FFF;
	font-family: Sintony, sans-serif;
	font-size: 27px;
	margin-bottom: 25px;
}

#footer li {
	list-style-type: none;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	margin: 0 0 5px 0;
}

#footer li a {
	text-decoration: none;
	color: #4a4a4a;
}

#footer li a span {
	color: #a2a2a2;
}

.us-here-wrapper {
	width: 20%;
	float: left;
	margin-bottom: 10px;
}

.us-here {
	width: 30px;
	height: 30px;
	padding: 0;
	background-image: url(../img/sprite.png);
}

#us-here-1 {
	background-position: -6px -40px;
}

#us-here-2 {
	background-position: -47px -40px;
}

#us-here-3 {
	background-position: -88px -40px;
}

#us-here-4 {
	background-position: -129px -40px;
}

#us-here-5 {
	background-position: -170px -40px;
}

#us-here-6 {
	background-position: -6px -81px;
}

#us-here-7 {
	background-position: -47px -81px;
}

#us-here-8 {
	background-position: -88px -81px;
}

#us-here-9 {
	background-position: -129px -81px;
}

#us-here-10 {
	background-position: -170px -81px;
}

#us-here-11 {
	background-position: -6px -122px;
}

#us-here-12 {
	background-position: -47px -122px;
}

#us-here-13 {
	background-position: -88px -122px;
}

#us-here-14 {
	background-position: -129px -122px;
}

#us-here-15 {
	background-position: -170px -122px;
}

#verbal-bubble {
	background-color: #1e1e1e;
	border-radius: 10px;
	height: 80px;
	padding: 20px;
	position: relative;
}

#verbal-bubble:before {
	content: '';
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 190px; 
	top: -29px;
	border: 15px solid; 
	border-color: transparent transparent #1e1e1e #1e1e1e; 
}

#verbal-bubble p {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #4a4a4a;
}

#verbal-bubble p span {
	color: #b9b9b9;
}

#verbal-bubble p:last-child {
	vertical-align: bottom;
	position: absolute;
	bottom: 20px;
}

/* END FOOTER */

#copyright {
	background-color: #000;
	height: 45px;
	border-top: 1px solid #202020;
	padding: 5px 25px;
}

#copyright p {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #4a4a4a;
	float: left;
	margin: 15px 0;
}

#copyright p span {
	color: #757575;
}

#copyright .header-menu {
	margin: 15px 0;
}